body {
    font-family: monospace, sans-serif;
    font-size: var(--rhythm-unit);
    margin: var(--rhythm-unit);
    line-height: 1.5;
    background: var(--bg-primary);
}

* {
    transition: all .3s ease-in-out;
}

.flex {
    display: flex;
}

.justify-end {
    justify-content: flex-end;
}

.mls {
    font-size: var(--rhythm-unit);
    margin-left: .5rem;
}

.fs1 {
    font-size: calc(var(--rhythm-unit) * 1.25);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: calc(var(--rhythm-unit) / 2);
    grid-row-gap: calc(var(--rhythm-unit) / 2);
    
    div {
        display: flex;
        align-items: center;
        background: var(--bg-primary_alt);
        padding: calc(var(--rhythm-unit) / 2) var(--rhythm-unit);
        border-radius: .25rem;
        column-gap: 8px;
        
        span.mls {
            color: var(--text-primary);
        }
    }
}

span[class^="icon-"],
span[class*=" icon-"] {
    color: var(--fg-secondary);
}

.theme-toggle {
    display: flex;
    justify-content: flex-end;
    margin-bottom: calc(var(--rhythm-unit) * 1.5);
    background: none;
    width: calc(var(--rhythm-unit) * 2.25);
    height: calc(var(--rhythm-unit) * 2.25);
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: none;
    
    .icon-moon,
    .icon-sun {
        position: absolute;
        font-size: calc(var(--rhythm-unit) * 1.5);
        transition: color .3s ease-out, transform .3s ease-out;
    }

    &:hover {
        .icon-moon,
        .icon-sun {
            color: var(--fg-primary);
        }
    }
}

:root {
    --rhythm-unit: 1rem;
}

[data-theme="light"] {
    --bg-primary: hsla(0, 0%, 100%, 1);
    --bg-primary_alt: hsla(220, 20%, 97%, 1);
    --fg-primary: hsla(220, 41%, 10%, 1);
    --fg-secondary: hsla(212, 15%, 46%, 1);
    --text-primary: hsla(220, 41%, 10%, 1);

    .icon-moon {
        transform: translateY(36px);
    }

    .icon-sun {
        transform: translateY(0);
    }
}

[data-theme="dark"] {
    --bg-primary: hsla(220, 41%, 10%, 1);
    --bg-primary_alt: hsla(214, 32%, 14%, 1);
    --fg-primary: hsla(0, 0%, 100%, 1);
    --fg-secondary: hsla(214, 16%, 74%, 1);
    --text-primary: hsla(0, 0%, 100%, 1);
    
    .icon-moon {
        transform: translateY(0);
    }

    .icon-sun {
        transform: translateY(36px);
    }
}
